body {
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

body * {
    max-height: 100px;
    margin: 2px;
    border: 1px solid black;
}
